---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Paragraph from '../../components/Paragraph.astro';
import Heading from '../../components/Heading.astro';
---

<Layout title="Ahwx >> Hostnames" description="Ahwx' cozy hostnames">
  <Header />
  <div class="h-40"></div>
  <main>
    <Heading><span class="text-2xl text-pink-300">「ahwx <span class="text-indigo-300">♥</span>」</span></Heading>
    <Paragraph transition:name="Paragraph">
      <ul>
        <h3 class="text-xl font-bold">Servers</h3>
        <li>ava.ahwx.org > Self-built (Threadripper 1920X, 192GB CL16 3200MHz RAM, Gentoo GNU/Linux)</li>
        <li>evelyn.ahwx.org > Intel NUC (Pentium N3700, 4GB RAM, Gentoo GNU/Linux)</li>
        <li>naomi.ahwx.org > Asus K56 (i5-3337U, 8GB RAM, Gentoo GNU/Linux)</li>
        <li>meow.ahwx.org > Asus Chromebook C200M (Celeron N2830, 2GB RAM, Gentoo GNU/Linux)</li>
        <h3 class="text-xl font-bold">Network equipment</h3>
        <li>sediment.ahwx.org > UniFi Dream Machine Pro (8x GbE, 2x SFP+)</li>
        <li>erosion.ahwx.org > UniFi USW-48-500W (48x GbE, 2x SFP+, 2x SFP)</li>
        <h3 class="text-xl font-bold">Personal machines</h3>
        <li>lila.ahwx.org > Main machine (MacBook Pro 14" 2023, M2 Pro, 16GB RAM, Gentoo GNU/Linux) </li>
        <li>eepy.ahwx.org > Gaming machine (Ryzen 5 5600X/Radeon RX 5700XT, 16GB 3800MHz CL18 RAM, Gentoo GNU/Linux)</li>
        <li>eievui.ahwx.org > iPhone 11 Pro* (256GB, Space Gray)</li>
        <li>parshen.ahwx.org > Apple Watch SE*1 (44mm)</li>
        <li>eleboo.ahwx.org > AirPods Pro*2 (2nd gen)</li>
        <br><br>
        *0 = I tried Android for years and after having issues for years, I switched to iOS.<br>
        *1 = I have an Apple Watch because it helps me monitor health (stress and anxiety) related issues.<br>
        *2 = Since I have an iPhone and I need headphones with ANC (public transport and anxiety), these were an easy choice.<br>
      </ul>
    </Paragraph>
  </main>
</Layout>
