---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Paragraph from '../../components/Paragraph.astro';
import Heading from '../../components/Heading.astro';
---

<Layout title="Ahwx >> Other" description="Ahwx' cozy other collection page">
  <Header />
  <div class="h-40"></div>
  <main>
    <Heading><span class="text-2xl text-pink-300">「ahwx <span class="text-indigo-300">♥</span>」</span></Heading>
    <Paragraph transition:name="Paragraph">
      <ul>
        <li><a class="underline underline-offset-1 text-indigo-300" href="/other/alternatives">Software alternatives</a> I recommend.</li>
        <li>My <a class="underline underline-offset-1 text-indigo-300" href="/other/wishlist">wishlist</a>.</li>
        <li>Options to <a class="underline underline-offset-1 text-indigo-300" href="/donate">donate</a></li>
      </ul>
    </Paragraph>
  </main>
</Layout>
