---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Paragraph from '../components/Paragraph.astro';
import Heading from '../components/Heading.astro';
import blogPost from '../layouts/blogPost.astro';
const blogPosts = (await Astro.glob('./blog/*.md')).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)
---

<Layout title="Ahwx >> Blog" description="Ahwx' cozy blog">
  <Header />
  <div class="h-40"></div>
  <main>
    <Heading><span class="text-2xl text-pink-300">「ahwx <span class="text-indigo-300">♥</span>」</span></Heading>
      <Paragraph>
        A lot of pages have also moved to <a href="https://docs.ahwx.org">Linkbase</a>.
        <ul class="pt-8">
          {blogPosts.map(post => (
            <li class="mb-4 hover:opacity-70">
              <a href={post.url}>
                <div class="mt-3 text-xl">{post.frontmatter.title}</div>
                <div class="opacity-70">{post.frontmatter.description}</div>
              </a>
            </li>
          ))
        }
        </ul>
    </Paragraph>
  </main>
</Layout>
