---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Paragraph from '../components/Paragraph.astro';
import Heading from '../components/Heading.astro';
---

<Layout title="Ahwx >> Contact" description="Ahwx' cozy contact page">
  <Header />
  <div class="h-40"></div>
  <main>
    <Heading><span class="text-2xl text-pink-300">「ahwx <span class="text-indigo-300">♥</span>」</span></Heading>
      <Paragraph transition:name="Paragraph">
        You can contact me if you like using the options below.<br><br>

        <span class="bg-yellow-300 text-slate-900 rounded-xl"><code>‎ Note: please do not email me about copyright issues on <a class="underline underline-offset-1" href="https://search.ahwx.org">LibreY</a>/<a class="underline underline-offset-1" href="https://r.ahwx.org">Libreddit</a>/<a class="underline underline-offset-1" href="https://binternet.ahwx.org">Binternet</a>. The images are not on our servers, we just serve a link or a proxy to those images. ‎</code></span>

        <ul class="pt-2">
          <li>Matrix: <code class="bg-indigo-950 rounded-xl">‎ @liv:liv.town ‎</code> <a class="underline-offset-1 underline text-indigo-300" href="https://ahwx.org/matrix.php">(instructions here)</a></li>
          <li>Mail: <code class="bg-indigo-950 rounded-xl">‎ ahwx at ahwx dot org ‎</code></li>
        </ul>
    </Paragraph>
  </main>
</Layout>
