---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Paragraph from '../components/Paragraph.astro';
import Heading from '../components/Heading.astro';
import NormalLink from '../components/NormalLink.astro';
---

<Layout title="Ahwx >> Donate" description="Ahwx' cozy donation page">
  <Header />
  <div class="h-40"></div>
  <main>
    <Heading><span class="text-2xl text-pink-300">「ahwx <span class="text-indigo-300">♥</span>」</span></Heading>
    <Paragraph transition:name="Paragraph">
      <ul>
          <li>You can donate using Monero/XMR: <span class="underline underline-offset-1 text-indigo-300">4ArntPzKpu32s4z2XqYhyaY1eUeUBKtCzJqEqxWtF5mCi5vR6sdhh32Hd2fk9FjeUxYDtaaUexUqoRNxrgfrtuXs4XpgMNJ</span></li>
          <li>You can also <NormalLink href="https://buymeacoffee/ahwx">buy me a coffee<NormalLink> (preffered).</li>
          <li>You can also <NormalLink href="https://github.com/Ahwxorg">sponsor me on GitHub<NormalLink> (preffered).</li>
      </ul>
    </Paragraph>
  </main>
</Layout>
