---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Paragraph from '../components/Paragraph.astro';
import Heading from '../components/Heading.astro';
import Introduction from '../components/Introduction';
import Greeting from '../components/Greeting';
import NormalLink from '../components/NormalLink.astro';
---

<Layout title="Ahwx >> Go!" description="Ahwx' cozy Go! page">
  <Header />
  <div class="h-40"></div>
  <main>
    <Heading><Greeting client:load />, I'm <span class="text-2xl text-pink-300">「ahwx <span class="text-indigo-300">♥</span>」</span></Heading>
    <Heading>I'm <Introduction client:load />.</Heading>
      <Paragraph transition:name="Paragraph">
        <ul>
          <li class="pt-2"><NormalLink href="/blog" text="Blog"/></li>
          <li class="pt-2"><NormalLink href="https://matrix.to/#/@liv:liv.town" text="Matrix"/></li>
          <li class="pt-2"><NormalLink href="https://quack.social/@liv" text="Fediverse"/></li>
          <li class="pt-2"><NormalLink href="/github" text="GitHub"/></li>
        </ul>
      </Paragraph>
      <Paragraph>
        <Heading>Services I host</Heading>
      </Paragraph>
      <Paragraph>
        <ul>
          <li>Invidious: <NormalLink href="https://yt.ahwx.org" text="Clearweb"/> | <NormalLink href="http://fcajtfmklq2t2zyc5p2yvwkok2gqm6kej6bipgm4umhioscpokx2lwad.onion" text="Tor"/></li>
          <li>LibreY instance 1: <NormalLink href="https://search.ahwx.org" text="Clearweb"/> | <NormalLink href="http://wn5jl6fxlzzfenlyu3lc4q7jpw2saplrywxvxtvqbguotwd4y5cjeuqd.onion/" text="Tor"/></li>
          <li>LibreY instance 2: <NormalLink href="https://search2.ahwx.org" text="Clearweb"/> | <NormalLink href="http://hyy7rcvknwb22v4nnoar635wntiwr4uwzhiuyimemyl4fz6k7tahj5id.onion/" text="Tor"/></li>
          <li>Binternet: <NormalLink href="https://binternet.ahwx.org" text="Clearweb"/> | <NormalLink href="http://ttyaq2vjaxdzjmi6zta6vutzhoquunnqozesg4rj6ibpr477jujaxoqd.onion" text="Tor" /></li>
          <li>Nitter: <NormalLink href="https://nitter.ahwx.org" text="Clearweb"/> | <NormalLink href="http://xxrxbae7tw2auxmq2bkigtpaklu5bepiybgl6arqg5a7puv6cyt3h4id.onion" text="Tor" /></li>
          <li>SimplyTranslate: <NormalLink href="https://translate.ahwx.org" text="Clearweb"/> | <NormalLink href="http://h7ehq5i6bnqjlypp2qek434p6diyxa2ipmhzbmxmogjtoitearrxamqd.onion" text="Tor" /></li>
          <li>Service uptime monitor: <NormalLink href="https://up.ahwx.org/" text="Clearweb"/>
        </ul>
      </Paragraph>
  </main>
</Layout>
