---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Paragraph from '../components/Paragraph.astro';
import Heading from '../components/Heading.astro';
---

<Layout title="Ahwx >> Home" description="Ahwx' cozy homepage">
  <Header />
  <div class="h-40"></div>
  <Heading class="text-xl">Hello!</Heading>
  <main class="pt-[56px]">
    <Paragraph>Hey there! I am <span class="text-pink-300 hover:bg-purple-50 rounded-s">Ahwx ♥</span>
          Welcome to my own cozy little corner on the internet! :3
          This place is trying its best to be my personal website. I don't want to tell you too much about myself, and you don't want to read a wall of text. I love GNU/Linux, servers, networking etc. Just go and read my blog if you care or follow me on <a rel="me" href="https://social.ahwx.org/@ahwx">Mastodon</a>.
          As for this site... I just like the 2000 era of computing, since that was when the world was still learning what we can make, and most importantly, there was not that much junk yet.
          If you support me, or might like what I do, consider <a href="/donate.php">donating</a>.
          Also, please sign <a href="https://ahwx.123guestbook.com/">my guestbook here</a> (external link)!
    </Paragraph>
    <Paragraph>
      <Heading>About</Heading>
      This place is a home for my psychological dysfunctioning.
      This is a place where I am in control, with no censorship or manipulation.
      This is a place where my words don't get mixed up with noise.
      This is a place where I am able to express my own creativity instead of using set colors from i.e. BloatPress blogs.
      This is a privacy friendly website, there are no cookies, JavaScript files or any other bullshit.
      This website is written in HTML, CSS and no proprietary JS is used.
    </Paragraph>
  </main>
</Layout>
