---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
---

<Layout title="Ahwx >> Home" description="Ahwx' cozy homepage">
  <Header />
  <div>
    <h4>Hello!</h4>
    <p><br>Hey there! I am <span class="text-pink-300 hover:bg-purple-50 rounded-s">Ahwx ♥</span><br>
          Welcome to my own cozy little corner on the internet! :3<br><br>
          This place is trying its best to be my personal website. I don't want to tell you too much about myself, and you don't want to read a wall of text. I love GNU/Linux, servers, networking etc. Just go and read my blog if you care :)<br><br>
          As for this site... I just like the 2000 era of computing, since that was when the world was still learning what we can make, and most importantly, there was not that much junk yet.<br><br>
          If you support me, or might like what I do, consider <a href="/donate.php">donating</a>.<br><br>
          Feel free to use the buttons on the left to navigate your way on my website!<br><br>
          Also, please sign <a href="https://ahwx.123guestbook.com/">my guestbook here</a> (external link)!<br><br>
        </p>
      </div>
      <br>
      <div class="body">
        <p>
          <br><h2>About</h2>
          <br>This place is a home for my psychological dysfunctioning.
          <br>This is a place where I am in control, with no censorship or manipulation.
          <br>This is a place where my words don't get mixed up with noise.
          <br>This is a place where I am able to express my own creativity instead of using set colors from i.e. BloatPress blogs.
          <br>This is a privacy friendly website, there are no cookies, JavaScript files or any other bullshit.
          <br>This website is written in HTML, CSS and no proprietary JS is used.<br>
        <br></p>
      </div>

  </div>
</Layout>
