---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Paragraph from '../components/Paragraph.astro';
import Heading from '../components/Heading.astro';
import Introduction from '../components/Introduction';
import Greeting from '../components/Greeting';
---

<Layout title="Ahwx >> Home" description="Ahwx' cozy homepage">
  <Header />
  <div class="h-40"></div>
  <main>
    <Heading><Greeting client:load />, I'm <span class="text-2xl text-pink-300">「ahwx <span class="text-indigo-300">♥</span>」</span></Heading>
    <Heading>I'm a <Introduction client:load />.</Heading>
    <Paragraph transition:name="Paragraph">
      Welcome to my own cozy little corner on the internet :3! This place is trying its best to be my personal website. I don't want to tell you too much about myself, and you don't want to read a wall of text. I love GNU/Linux, servers, networking etc. Just go and read my blog if you care or follow me on <a class="underline-offset-1 underline text-indigo-300" rel="me" href="https://tilde.zone/@ahwx">Mastodon</a>. As for this site... I just like the 2000 era of computing, and all previous version were more based on that. I wanted to try the Art stack (<a href="https://astro.build" class="underline-offset-1 underline text-indigo-300">Astro</a>/<a href="https://reactjs.org" class="underline-offset-1 underline text-indigo-300">React</a>/<a href="https://tailwindcss.com/" class="underline-offset-1 underline text-indigo-300">TailwindCSS</a>) since that is what I also use in other projects.<br><br>

          If you support me, or might like what I do, consider <a class="underline underline-offset-1 text-indigo-300" href="/donate">donating</a>. Also, please sign <a class="underline underline-offset-1 text-indigo-300" href="https://ahwx.123guestbook.com/">my guestbook here</a> (external link)!
    </Paragraph>
    <Heading><span class="text-2xl text-pink-300">「about <span class="text-indigo-300"><abbr title="This is a Korean character, it looks a bit like a person, and it also means 'smiling'.">웃<abbr></span>」</span></Heading>
    <Paragraph transition:name="Paragraph">
      This place is a home for my psychological dysfunctioning, I write on my blog whenever I feel like writing. I love this place because I am in control, there is no censorship or manipulation, you can visit from <a class="underline underline-offset-1 text-indigo-300" href="https://torproject.org" class="underline underline-offset-1 text-indigo-300">Tor</a> if you'd like. This website is written using <a href="https://astro.build" class="underline-offset-1 underline text-indigo-300">Astro</a>. I also used <a href="https://reactjs.org" class="underline-offset-1 underline text-indigo-300">React</a> and <a href="https://tailwindcss.com/" class="underline-offset-1 underline text-indigo-300">TailwindCSS</a>.
    </Paragraph>
    <Paragraph>
      Join our Matrix chatroom over at #main:ahwx.org!
    </Paragraph>
  </main>
</Layout>
