---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Paragraph from '../components/Paragraph.astro';
import Heading from '../components/Heading.astro';
import NormalLink from '../components/NormalLink.astro';
---

<Layout title="Ahwx >> Instances" description="Ahwx' cozy instances">
  <Header />
  <div class="h-40"></div>
  <main>
    <Heading><span class="text-2xl text-pink-300">「ahwx <span class="text-indigo-300">♥</span>」</span></Heading>
      <Paragraph transition:name="Paragraph">
        See my <NormalLink href="/go" text="Go! page"/>.
    </Paragraph>
  </main>
</Layout>
