---
import HeaderLink from './HeaderLink.astro';
import { HOMEPAGE_URL, SITE_TITLE } from '../config';
import LogoIcon from './icons/logo.tsx';
---

<header class="items-center fixed w-full">
  <div class="backdrop-blur-3xl rounded-xl">
    <nav class="flex items-center gap-3 text-base">
      <div class="p-6 items-center gap-6 hidden md:flex">
        <HeaderLink href="/">Home</HeaderLink>
    		<HeaderLink href="/blog">Blog</HeaderLink>
        <!-- <HeaderLink href="/github">GitHub</HeaderLink> -->
        <HeaderLink href="/contact">Contact</HeaderLink>
        <!-- <HeaderLink href="/webrings">Webrings</HeaderLink> -->
        <!-- <HeaderLink href="/instances">Instances</HeaderLink> -->
        <HeaderLink href="/other">Other</HeaderLink>
      </div>
      <div class="flex-1"></div>
        <HeaderLink href="/go">Go!</HeaderLink> 
      <div class="p-1"></div>
    </nav>
  </div>
</header>
