---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Paragraph from '../components/Paragraph.astro';
import Heading from '../components/Heading.astro';
---

<Layout title="Ahwx >> Wishlist" description="Ahwx' cozy wishlist">
  <Header />
  <div class="h-40"></div>
  <main>
    <Heading><span class="text-2xl text-pink-300">「ahwx <span class="text-indigo-300">♥</span>」</span></Heading>
    <Paragraph>
      <slot />
    </Paragraph>
  </main>
</Layout>
